.page1 {
    background-image: url(/images/HeroImage.png);
    background-size: cover;
    width: 100%;
    height: 800px;
    
}

.navbarNav {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: transparent;
    color: white;
}

nav.navbar.navbar-expand-lg {
    color: white;
}

#page1-container {
    max-width: 700px;
    width: 100%;
    color: white;
}
div#page1-conatiner {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item
{
    background: transparent;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: rgb(53, 53, 53);
    border: 1px double rgb(0, 202, 142);
}